.ticket {
    background-color: rgb(255, 255, 255);
    display: flex;
    border-radius: 5px; 
    margin: 1% 5% 0% 5%;
    overflow: hidden;
    border: rgb(202, 200, 200);
    border-style: solid;
    border-width: .01rem;
    align-items: center;
    height: 50px;
    
  

}

.ticket_time {
    width: 10%;
    overflow: hidden;
    text-align: center;
    
}

.ticket_titlecontainer{
    display: flex;
    flex-direction: column;
    border: rgb(238, 238,238); 
    border-style: solid;
    border-width: .01rem;
    padding: 0% 0% 0% 2%;
    width: 60%;
    height: 100%;
    overflow: hidden;
    
}

.ticket_title{
    font-size: 1.3rem;
    margin: 0%;
}

.ticket_statuscontainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    width: 15%;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: rgb(238, 238,238);
    border-width: .01rem;
    border-style: solid ;
}
.ticket_button {
    width: 15%;
    text-align: center;
}


@media (max-width: 800px) {

}